@charset "UTF-8";
body{
    background-color: rgb(32, 178, 88);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
h1{
    color: rgba(0, 0, 139, 0.534);
    background-color: rgb(95, 242, 247);
    text-decoration: underline;
}
h2{
    color: rgb(0, 37, 139);
}
p{
    text-align: justify;
}

